.row
  .col-lg-1
  .col-lg-5
    .well.bs-component
      %legend  
        =anketa.naslov
      %p.text-info
        =anketa.opis   
      = form_tag root_path, :multipart => true, method: :post, :html => { :class => 'form-horizontal' } do
        - anketa.pitanja.each do |pitanje| 
          %h4
            %b  
              =pitanje.sadrzaj
          %strong
          - pitanje.odgovori.each do |odgovor|
            .form-group
              .col-lg-10.radio 
                %b 
                  =radio_button_tag 'odgovor', odgovor
                  =odgovor.sadrzaj
        .form-group
          = submit_tag 'Rezultat', :class => "btn btn-primary"      
                 
  .col-lg-5  
    .page-header
      %h1
        =anketa.naslov
  .col-lg-1